<div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <nav class="navbar navbar-expand-sm">
                     <a class="navbar-brand" href="#">
                            
                            <i class="fas fa-snowflake"></i>
                            <img src="images/logo.jpg" alt="Logo" style="width:80px;">
                            <i class="fas fa-snowflake"></i>
                        </a>
                    <ul class="navbar-nav ml-auto">
                       
                      <!-- <a class="navbar-brand" href="#">Logo</a> -->
                      
                      <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                      </li>
                      
                      
                    </ul>
                  </nav>
                  
                  
                  
            </div>
        </div>
    </div>
